@font-face {
    font-family: Cascada;
    src: url("/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

body {
    font-family: Cascada;
    background: rgb(193,193,193);
background: linear-gradient(90deg, rgba(193,193,193,0.5018382352941176) 0%, rgba(255,255,255,1) 50%, rgba(193,193,193,0.5) 100%);

    
}


a {
    color: rgb(255, 255, 255);
}

a:visited {
    text-decoration: none;
}


a:hover {
    color: hotpink;
}

a:active {
    color: rgb(0, 0, 0);
}

.brillo {

    filter: brightness(2.3) sepia(20%) blur(2px);

}

#gradientetop {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#gradientebot {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#separator{


    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(43, 43, 43, 1) 69%, rgba(0, 0, 0, 1) 100%);
}

#card-color:hover {


    background: rgb(248,175,250);
    background: linear-gradient(0deg, rgba(149,245,255,1) 0%, rgba(255,255,255,1) 30%);

}
#card-color-2:hover {

    background: rgb(255,149,149);
    background: linear-gradient(0deg, rgba(255,149,149,1) 0%, rgba(255,255,255,1) 30%);

}
#card-color-3:hover {

    background: rgb(153,255,149);
background: linear-gradient(0deg, rgba(153,255,149,1) 0%, rgba(255,255,255,1) 30%);

}


   
